



.circle {
    height: 25px;
    width: 25px;
    background-color: gold;
    border-radius: 50%;
  }


  /* Putting the property border
  radius at exactly 50% will 
  make a perfect circle */






  





