/* .container {
    border: 5px solid pink;
    background-color: #fff1ff;
    display: grid;
    grid-template-columns: 100px 200px 300px;
    grid-template-rows: 100px 250px;
    row-gap: 15px;
    column-gap: 30px;
}

.item {
    border: 5px solid aqua;
    font-size: 4rem;
} */

.container {
    border: 5px solid rgb(81, 255, 107);
    background-color: #fff1ff;
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 150px 150px ;
    gap: 15px;
    height: 600px;
    align-content: center;  /* De ariba a abajo*/
    justify-content: center; /* De abajo a arriba */
}

.item {
    border: 5px solid aqua;
    font-size: 4rem;
}