*{
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    font-size: 3rem;
    background-color: rgb(98, 109, 109);
    position: fixed;
    width: 100vw;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-bottom: 0.4rem;
}
#gabriel {
    position: fixed;
    font-size: 1.8rem;
    float: right;
    font-style: italic;
    margin-left: 0.8%;
    margin-top: 0.8%;
    text-decoration: none;
    color: rgb(203, 203, 203);
    font-weight: bold;
}
#gabriel:hover{
    color: rgb(220, 216, 144);
}

main{
    height: 2000px;
}