* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* esto soluciona el problema del overflow */
  overflow-x: hidden;
}
.main_nav {
list-style: none;
background-color: rgb(218, 255, 195);
padding: 15px;
width: 100vw;
}
.main_nav_item {
display: inline-block;
padding-right: 15px;
}
#first_nav {
padding-left: 1150px;
 }

.main_nav_item a {
color: rgb(142, 142, 142);
text-decoration: none;
font-weight: bold;
}
.main_nav_item a:hover {
color:rgb(106, 177, 254);
}







.main {
background-color: rgb(146, 192, 233);

}
.section1 {
background-color: rgb(227, 229, 139);
width: 300px;
height: 1200px;
padding-left: 15px;
padding-right: 15px;
}
.section1_element {
    margin: 15px;
    margin-bottom: 65px;
    padding: 5px;
    padding-top: 75px;
    padding-bottom: 75px;
   background-color: rgb(255, 255, 255);
   box-shadow: 5px 5px 5px rgb(156, 156, 140);
   position: relative; top: 55px;
   border-radius: 15px;
   }
.main_item {
margin-left: 40px;
position: relative; left: 325px;
position: relative; top: 35px;
margin: -1.2rem auto;
}

.foot {
    padding: 25px;
    background-color: rgb(218, 255, 195);
}
