*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bitcoin_orange:#F7931A;
    --soft_orange: #FFE9D5;
    --secondary_blue: #1A9AF7;
    --soft_blue: #E7F5FF;
    --warm_black: #201E1C;
    --warm_black_2: #282623;
    --cool_grey: #BABABA;
    --off_white: #FAF8F7;
    --just_white: #FFFFFF;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header_title_container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 50px;
}